<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>RecipeHub - Admin Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/recipe-book.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> 
    <link rel="stylesheet" href="{% static 'Interface/css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <a class="navbar-brand" href="{% url "home" %}">
            <i class="fas fa-utensils"></i><p style="font-family: 'Brush Script MT', 'Brush Script Std', cursive;">RecipeHub</p>
        </a>
        <button class="menu-toggle">
            <span class="menu-icon"></span>
        </button>
        <div class="nav-menu">
            <a href="{% url 'addRecipes' %}" class="nav-link"><i class="fas fa-plus"></i> AddRecipe</a>
            <a href="{% url "view_reports" %}" class="nav-link"><i class="fas fa-users"></i> Reports</a>
            <a href="{% url "profile" %}" class="nav-link"><i class="fas fa-user"></i> Profile</a>
            <a href="{% url "logout" %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>
</nav>

<div class="stat">
    <div class="statCard">
        <div>
            <h3>{{ recipes }}</h3>
            <p>Total Recipes</p>
            <a href="{% url 'manageRecipe' %}" class="prim_greenButton">View</a>
        </div>
        <div class="statIcon"><i class="fas fa-book"></i></div>
    </div>
    <div class="statCard">
        <div>
            <h3>{{ users  }}</h3>
            <p>Registered Users</p>
            <a href="{% url 'users' %}" class="prim_greenButton">View</a>
            </div>
        <div class="statIcon"><i class="fas fa-users"></i></div>
    </div>
    
</div>

<div class="activityCard">
    <h2>Recent Activity</h2>
    {% for recipe in recent_recipes %}
    <div class="activity-item">
        <div class="activityIcon">
            <i class="fas fa-book"></i>
        </div>
        <div>
            <h4>New recipe added</h4>
            <p>"{{ recipe.name }}" Type : {{ recipe.food_type }}</p>
        </div>
        <small>Recently added</small>
    </div>
    {% endfor %}
</div>

<script src="{% static 'Interface/js/admin_dashboard.js' %}"></script>
</body>
</html>