{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>RecipeHub</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/recipe-book.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'admin/css/report_list.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'components/css/navbar.css' %}">
    </head>
    <body style="margin: 0;">
        <nav class="navbar">
            <div class="nav-container">
                <a class="navbar-brand" href="">
                    <i class="fas fa-utensils"></i><p style="font-family: 'Brush Script MT', 'Brush Script Std', cursive;">RecipeHub</p>
                </a>
                <button class="menu-toggle">
                    <span class="menu-icon"></span>
                </button>
                <div class="nav-menu">
                    <a href="{% url 'dashboard' %}" class="nav-link"><i class="fas fa-plus"></i> Home</a>
                    <a href="{% url "profile" %}" class="nav-link"><i class="fas fa-user"></i> Profile</a>
                    <a href="{% url "logout" %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Log out</a>

                </div>
            </div>
        </nav>

        <div class="report-cont">
            {% for report in reports %}
                <tr class="report-item">
                    <td>
                        <div style="display: flex; align-items: center; gap: 10px;">
                            <i class="fas fa-user-circle" style="font-size: 1.2em; color: #6c757d;"></i>
                            {{ report.report_type }}
                        </div>
                    </td>
                    <td>{{ report.created_at | date:"d, M Y" }}</td>
                    <td><span class="status-badge status-active">{{ report.status }}</span></td>
                    <td><button>View Report</button></td>
                </tr>
            {% endfor %}
        </div>
    </body>
<html>