{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Profile Page</title>
        <link rel="icon" type="image/x-icon" href="../../static/images/chef.png">
        <link rel="stylesheet" href="{% static "user/css/profile_page.css" %}">
        <link rel="stylesheet" href="{% static "components/css/navbar.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-container">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-utensils"></i><p style="font-family: 'Brush Script MT', 'Brush Script Std', cursive;">RecipeHub</p>
                </a>
                <button class="menu-toggle">
                    <span class="menu-icon"></span>
                </button>
                <div class="nav-menu">
                    <a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a>
                    <a href="{% url 'dashboard' %}" class="nav-link"><i class="fas fa-chart-line"></i> Dashboard</a>
                    {% if user.account_type == 0 %}
                        <a href="{% url "favorites" %}" class="nav-link"><i class="fas fa-star"></i> Favorites</a>
                    {% endif %}
                        <a href="{% url "logout" %}" class="nav-link"><i class="fas fa-cog"></i> Logout</a>
                </div>
            </div>
        </nav>

        <div class="main-content">
            <div class="container">
                <div class="profile-header">
                    <div class="profile-avatar-container">
                        {% if image_url == NULL %}
                            <img src="{% static "images/woman.png" %}" alt="Profile" class="profile-avatar" id="profileAvatar">
                        {% else %}
                            <img src="{{ image_url }}" alt="Profile", class="profile-avatar" id="profileAvatar" >
                        {% endif %}
                            <img src="{% static "images/plus.png" %}" alt="Edit" class="profile-edit" id="editProfileBtn">
                    </div>
                    <div class="profile-info">
                        <h1 id="display-name">{{ first_name }} {{ last_name }}</h1>
                        <p id="userName">{{ username }}</p>
                    </div>
                </div>
                
                <div class="profile-section">
                    <div class="section-header">
                        <h2 class="section-title">Personal Information</h2>
                        <button class="edit" id="editPersonal">Edit</button>
                    </div>
                    
                    <div class="info-grid">
                        <div class="info-item">
                            <div class="info-label">First Name</div>
                            <div class="info-value" id="firstname">{{ first_name }}</div>
                        </div>
                        <div class="info-item">
                            <div class="info-label">Last Name</div>
                            <div class="info-value" id="lastname">{{ last_name }}</div>
                        </div>
                        <div class="info-item">
                            <div class="info-label">Email</div>
                            <div class="info-value" id="email">{{ email }}</div>
                        </div>
                        <div class="info-item">
                            <div class="info-label">Date of Birth</div>
                            <div class="info-value" id="datebirth">{{ birth_date }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Personal Info -->
        <div class="modal" id="personalModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Edit Personal Information</h2>
                <form id="personalForm" method="POST" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editFirstname">First Name</label>
                        <input type="text" name="editFirstname" id="editFirstname" value="{{ user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="editLastname">Last Name</label>
                        <input type="text" name="editLastname" id="editLastname" value="{{ user.last_name }}">
                    </div>
                    <div class="form-group">
                        <label for="editEmail">Email</label>
                        <input type="email" name="editEmail" id="editEmail" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="editDatebirth">Date of Birth</label>
                        <input type="text" name="editDatebirth" id="editDatebirth"  value="{{ user.birthDate | date:'Y-m-d' }}">
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="save-btn">Save Changes</button>
                        <button type="button" class="cancel-btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <!--image-->
        <div class="imgmodel-overlay" id="imgmodel">
            <div class="imgmodel-content">
              <h2 class="imgmodel-title">Change Profile Image</h2>
              <form id="imageUploadForm" method="POST" action="{% url 'upload_profile_image' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                  <button type="submit" class="upload-btn">Upload Image</button>
                  <a href="{% url 'profile' %}" class="upload-btn cancel-btn">Cancel</a>
                </div>
              </form>
            </div>
          </div>
          
          <script src="{% static "user/js/profile.js" %}" defer></script>
          <script src="{% static 'components/js/navbar.js' %}" defer></script>
    </body>
</html>

